/*
PANTALLA INCIO
*/

body{
    margin:0px;
    padding:0px;
}

.indice0{
    z-index:0;
}

.indice1{
    z-index:1;
}

.fondo{
    background-color:#f1f1f1;
}

.margen-superior-e-inferior{
    height:100px;
}

.pre-cuadro-principal{
    height:508px;
}

.cuadro-principal{
    background-color:white;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.15), -10px -10px 15px rgba(0, 0, 0, 0.15), -10px 10px 15px rgba(0, 0, 0, 0.15), 10px -10px 15px rgba(0, 0, 0, 0.15);
}

.barra-navegacion{
    background-color: #f7f7f7;
    height:50px;
    text-align:center;
}

.texto-nombre{
    font-family: 'EB Garamond';
    font-size:x-large;
    color:rgba(0, 0, 0, 0.80);
    margin-top: 7px;
    margin-bottom: 6px;
}

.texto-elementos-barra-navegacion{
    font-family: 'EB Garamond';
    font-size:large;
    color:rgba(0, 0, 0, 0.70);
    margin-top: 12px;
    margin-bottom: 11px;
}

.texto-elementos-barra-navegacion:hover{
    font-weight:bold;
}

.link{
    text-decoration:none;
}

.barra{
    background-color:rgba(0, 0, 0, 0.15);
    height:1px;
}

.imagen{
    margin-left:47px;
    margin-top:36px;
    border-radius:20px;
}

#textoInicio1{
    color:black;
    font-size:75px;
    font-weight:bolder;
    margin-top:50px;
    margin-left:50px;
    font-family: 'EB Garamond';
}

#textoInicio2{
    color:#3f3f3f;
    font-size:50px;
    font-weight:bolder;
    margin-top:50px;
    margin-left:50px;
    font-family: 'EB Garamond';
}

/*
PANTALLA PERFIL
*/

.pre-cuadro-principal-perfil{
    height:2250px;
}

#nacidoEn{
    font-size:50px;
    margin-top:37px;
    text-align: center;
    font-family:'Trebuchet MS';
}

.filaNacimientoPerfil{
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 80px;
    padding-bottom: 15px;
}

.tituloPerfil{
    font-size:40px;
    margin-top:100px;
    margin-left:50px;
    text-align: center;
    font-family:'Trebuchet MS';
}

.subtituloPerfil{
    font-size:55px;
    font-family: Impact;
    margin-top:50px;
    margin-left:50px;
    text-align: center;
}

.tituloPerfil2{
    font-size:40px;
    margin-top:100px;
    text-align: center;
    font-family:'Trebuchet MS';
}

.subtituloPerfil2{
    font-size:55px;
    margin-top:50px;
    font-family: Impact;
    text-align: center;
}

.imagen2{
    border-radius:20px;
    margin-left:30px;
}

.margen130{
    margin-top:130px;
}

.imagen3{
    border-radius:50px;
    width:1000px;
}

#textoFinalPerfil{
    font-size:45px;
    text-align: center;
    font-family: Impact;
}

.bloque12{
    position:absolute;
    top:216px;
    left:210px;
    background-color:rgb(200, 200, 200);
    height:100px;
    width:850px;
    border-radius:50px;
}

.bloque13{
    position:absolute;
    top:166px;
    left:1100px;
    background-color:rgb(235, 235, 235);
    height:200px;
    width:200px;
    border-radius:100%;
}

.bloque14{
    position:absolute;
    top:438px;
    left:565px;
    background-color:rgb(235, 235, 235);
    height:100px;
    width:821px;
    border-top-left-radius:50px;
    border-bottom-left-radius:50px;
}

.bloque15{
    position:absolute;
    top:560px;
    left:740px;
    background-color:rgb(200, 200, 200);
    height:100px;
    width:400px;
    border-radius:50px;
}

.bloque16{
    position:absolute;
    top:895px;
    left:126px;
    background-color:rgb(235, 235, 235);
    height:100px;
    width:600px;
    border-top-right-radius:50px;
    border-bottom-right-radius:50px;
}

.bloque17{
    position:absolute;
    top:1020px;
    left:285px;
    background-color:rgb(200, 200, 200);
    height:100px;
    width:400px;
    border-radius:50px;
}

.bloque18{
    position:absolute;
    top:1300px;
    left:840px;
    background-color:rgb(235, 235, 235);
    height:100px;
    width:546px;
    border-top-left-radius:50px;
    border-bottom-left-radius:50px;
}

.bloque19{
    position:absolute;
    top:1422px;
    left:900px;
    background-color:rgb(200, 200, 200);
    height:100px;
    width:400px;
    border-radius:50px;
}

.bloque20{
    position:absolute;
    top:2010px;
    left:280px;
    background-color:rgb(200, 200, 200);
    height:100px;
    width:950px;
    border-radius:50px;
}

/*
PANTALLA TRABAJO
*/

.pre-cuadro-principal-trabajo{
    height:3470px;
}

.imagen4{
    margin-left:47px;
    margin-top:47px;
    border-radius:20px;
}

.subtituloImagen{
    font-size:18px;
    margin-top:10px;
    margin-left:70px;
    text-align: center;
    font-family:'Trebuchet MS';
}

.colorNormal{
    color:inherit;
}

.anchoTrabajo{
    margin:50px;
    width:350px;
}

.subtituloTrabajo{
    font-size:30px;
    margin-top:75px;
    text-align: center;
    font-family:'Trebuchet MS';
}

.subtituloTrabajo2{
    font-size:30px;
    margin-top:120px;
    margin-left:-80px;
    margin-right:50px;
    text-align: center;
    font-family:'Trebuchet MS';
}

.idiomas{
    font-size:50px;
    text-align: center;
    font-family:'Trebuchet MS';
}

.imagenc1{
    position:absolute;
    top:2300px;
    left:700px;
    border-radius:20px;
    border:solid;
}
.descargaCV{
    font-size:30px;
    margin-right:40px;
    text-align: center;
    font-family:'Trebuchet MS';
}

.bloquepre3{
    position:absolute;
    top:180px;
    left:255px;
    background-color:rgb(235, 235, 235);
    height:100px;
    width:1000px;
    border-radius:50px;
}

.bloque3{
    position:absolute;
    top:307px;
    left:210px;
    background-color:rgb(200, 200, 200);
    height:100px;
    width:1090px;
    border-radius:50px;
}

.bloque4{
    position:absolute;
    top:477px;
    left:886px;
    background-color:rgb(235, 235, 235);
    height:240px;
    width:500px;
    border-top-left-radius:50px;
    border-bottom-left-radius:50px;
}

.bloque5{
    position:absolute;
    top:742px;
    left:860px;
    background-color:rgb(200, 200, 200);
    height:170px;
    width:526px;
    border-top-left-radius:50px;
    border-bottom-left-radius:50px;
}

.bloque6{
    position:absolute;
    top:1097px;
    left:126px;
    background-color:rgb(235, 235, 235);
    height:290px;
    width:480px;
    border-top-right-radius:50px;
    border-bottom-right-radius:50px;    
}

.bloque7{
    position:absolute;
    top:1690px;
    left:970px;
    background-color:rgb(200, 200, 200);
    height:120px;
    width:416px;
    border-top-left-radius:50px;
    border-bottom-left-radius:50px;
}

.bloque8{
    position:absolute;
    top:2047px;
    left:480px;
    background-color:rgb(200, 200, 200);
    height:80px;
    width:560px;
    border-radius:50px;
}

.bloque9{
    position:absolute;
    top:2215px;
    left:126px;
    background-color:rgb(160, 160, 160);
    height:100px;
    width:350px;
    border-top-right-radius:50px;
    border-bottom-right-radius:50px;  
}

.bloque10{
    position:absolute;
    top:2570px;
    left:126px;
    background-color:rgb(235, 235, 235);
    height:220px;
    width:430px;
    border-top-right-radius:50px;
    border-bottom-right-radius:50px;  
}

.bloque11{
    position:absolute;
    top:3220px;
    left:550px;
    background-color:rgb(200, 200, 200);
    height:80px;
    width:370px;
    border-radius:50px;
}

.flechaArriba{
    height:150px;
    width:150px;
    margin-left:0px;
    margin-top:0px;
    transition-property:height, width, margin-left, margin-top;
    transition-duration:1s;
}

.flechaArriba:hover{
    height:170px;
    width:170px;
    margin-left:-10px;
    margin-top:-10px;
    transition-property:height, width, margin-left, margin-top;
    transition-duration:1s;
}

/*
PANTALLA CONTACTO
*/

.pre-cuadro-principal-contacto{
    height:508px;
}

.contacto{
    height:140px;
}

.imagenContacto{
    margin-left:50px;
}

.contactoTexto{
    margin-top:56px;
    margin-left:25px;
    font-weight:bold;
    font-family:Verdana;
}

.separacion{
    height:50px;
}

.separacionPequeña{
    height:25px;
}

.bloque1{
    position:absolute;
    top:205px;
    left:127px;
    background-color:rgb(235, 235, 235);
    height:150px;
    width:1150px;
    border-top-right-radius:50px;
    border-bottom-right-radius:50px;
}

.bloque2{
    position:absolute;
    top:385px;
    left:301px;
    background-color:rgb(235, 235, 235);
    height:160px;
    width:1100px;
    border-top-left-radius:50px;
    border-bottom-left-radius:50px;
}
